nav {
    background: linear-gradient(to right, #076b96,#00789c);
    color: rgb(230, 237, 243);

    .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 20%;
        margin: 0;
        li{
            cursor: pointer;
            font-size: 22px;
            
        }
        a{
            color: #FFF;
            text-decoration: none;
        }

    }
    
    }
}